<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-dark text-light p-0" *ngIf="!showMode">
  <div class="container-fluid navbar-brand p-0">
    <a class="text-decoration-none d-flex align-items-center" routerLink="home">
      <img
        src="../assets/resources/rc_logo.png"
        style="height: 60px; padding-left: 20px; padding-right: 20px"
      />
      <span class="navbar-brand text-light" routerLink="/">MapEditor</span>

    </a>
    <button
      class="navbar-toggler second-button navbar-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fs-6">
      <div class="d-flex flex-column flex-lg-row justify-content-between w-100">
        <div
          *ngIf="authenticated === true"
          class="d-flex link-base flex-column flex-lg-row justify-content-center justify-content-md-start align-items-center text-center"
        >
          <!--Übersicht-->
          <a
            *ngIf="roles.includes('admin') || roles.includes('quali') || roles.includes('mapper') || roles.includes('default')"
            routerLink="home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="link-base link-light p-3 d-none d-lg-block"
          >Home
          </a>
          <a
            *ngIf="roles.includes('admin') || roles.includes('quali') || roles.includes('mapper') || roles.includes('default')"
            routerLink="home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="link-base link-light p-3 d-block d-lg-none"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
          >Home
          </a>

          <!--Einstellungen-->
          <a
            *ngIf="roles.includes('admin') || roles.includes('quali') || roles.includes('mapper')"
            routerLink="settings"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="link-base link-light p-3 d-none d-lg-block"
          >Einstellungen
          </a>
          <a
            *ngIf="roles.includes('admin') || roles.includes('quali') || roles.includes('mapper')"
            routerLink="settings"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="link-base link-light p-3 d-block d-lg-none"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
          >Einstellungen </a>

          <!--Volunteers-->
          <a
            *ngIf="roles.includes('quali')"
            routerLink="volunteers"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="link-base link-light p-3 d-none d-lg-block"
          >Volunteers
          </a>
          <a
            *ngIf="roles.includes('quali')"
            routerLink="volunteers"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="link-base link-light p-3 d-block d-lg-none"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
          >Volunteers </a>
        </div>

        <!--Abmelden-->
        <div class="d-flex flex-row justify-content-center align-items-center base-color">
          <!--Scoring-->
          <a
            *ngIf="roles.includes('admin') || roles.includes('quali') || roles.includes('mapper')"
            href="https://scoring.robocupjunior.de" target="_blank"
            class="link-base link-light p-3 d-none d-lg-block"
          >Zum Scoring <i class="bi bi-arrow-right-circle"></i></a>
          <a
            *ngIf="roles.includes('admin') || roles.includes('quali') || roles.includes('mapper')"
            class="link-base link-light p-3 d-block d-lg-none"
            href="https://scoring.robocupjunior.de" target="_blank"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
          >Zum Scoring <i class="bi bi-arrow-right-circle"></i></a>
          <a
            *ngIf="authenticated === false"
            class="nav-link p-3 text-center text-lg-end text-uppercase fw-bold link-base-reverse"
            style="cursor: pointer"
            (click)="login()"
          >Anmelden
          </a>
          <div class="d-flex flex-row" routerLink="nutzer">
            <div class="d-flex flex-column p-2 align-items-center link-base">
              <span *ngIf="authenticated" class="ps-0 pe-0 link-base link-light">{{name}}</span>
              <span *ngIf="roles.includes('volunteer') || roles.includes('mapper')" class="text-secondary">Volunteer</span>
              <span class="base-color" *ngIf="roles.includes('admin')">Admin</span>
              <span *ngIf="roles.includes('quali')" class="base-color-blue">Quali</span>
            </div>
            <div *ngIf="authenticated" class="border-right"></div>
          </div>

          <a
            *ngIf="authenticated"
            class="nav-link p-3 text-uppercase text-center text-lg-end fw-bold link-base-reverse"
            style="cursor: pointer"
            (click)="logout()"
          >Abmelden
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--Main Content-->
<router-outlet></router-outlet>

<!--Footer-->
<footer class="dark-bg mt-auto" *ngIf="!showMode">
  <div
    class="d-flex flex-sm-row flex-column justify-content-center align-items-center"
  >
    <a
      class="nav-link link-light p-2 p-sm-3 link-base"
      href="https://robocupjunior.de/impressum"
    >Impressum</a
    >
    <a
      class="nav-link link-light p-2 p-sm-3 link-base"
      href="https://robocupjunior.de/datenschutz"
    >Datenschutz</a
    >
    <a
      class="nav-link link-light p-2 p-sm-3 link-base"
      href="mailto:support@robocupjunior.de"
    >Support</a
    >
  </div>

  <div class="mx-auto m-2 d-sm-flex justify-content-center">
    <div class="d-flex flex-column flex-sm-row align-items-center">
      <span
        class="text-muted mx-auto d-block"
        style="font-size: 13px; text-align: center"
      >&copy; 2022 RoboCup</span
      >
      <span class="p-3 text-white d-sm-block d-none pt-0 pb-0">|</span>
      <a
        class="nav-link link-light p-1 p-sm-0 base-color white-color-hover"
        href="https://robocupjunior.de/"
      >robocupjunior.de</a
      >
    </div>
  </div>
</footer>

<!--Modal-->
<ng-template #chooseRoleModal let-modal>
  <div class="col-11 col-md-5 col-xl-4 m-auto">
    <div class="modal-header base-bg">
      <h4 class="modal-title text-white">Standort als Volunteer auswählen</h4>
    </div>
    <div class="modal-body bg-dark text-white" style="text-align: center;">
      <div class="row d-flex justify-content-center p-0 pb-0">
        <div class="mt-3">
          <p class="text-light">Hier bitte wählen an welchem Standort Sie die Maps bearbeiten wollen!</p>
          <label class="text-start w-100 fw-bold pb-1">Standort:</label>
          <select class="form-select" [(ngModel)]="location">
            <option selected disabled value="">Bitte wählen</option>
            <option>Berlin</option>
            <option>Hamburg</option>
            <option>Hannover</option>
            <option>Kassel</option>
            <option>Mannheim</option>
            <option>Nordwest</option>
            <option>Sankt Augustin</option>
            <option>Vöhringen</option>
            <option>Deutsche Meisterschaften</option>
          </select>
        </div>
        <div class="d-flex w-100 mt-3 justify-content-end">
          <div class="rc-link me-2 p-2" (click)="modal.close('logout')">
            Abmelden
          </div>
          <button type="button" class="btn base-bg text-white fw-bold" (click)="modal.close()" [class.disabled]="!location">
            Standort bestätigen
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

