<img *ngIf="tile?.image" [@rotatedState]='state' [src]="tile?.image" class="w-100" (contextmenu)="onRightClick($event)">

<div *ngIf="tile?.name!.includes('evacuationZoneAcross') && tile?.isBeingDragged" class="draggedTileAcross"></div>
<div *ngIf="tile?.name!.includes('evacuationZoneUpright') && tile?.isBeingDragged" class="draggedTileUpright"></div>

<div  class="tile-size"
      #evacuationTile
      [ngStyle]="{'border-top': this.tile!.border![0]? ((this.tile!.border![0] != 'black' ? '8px solid ' : 'solid ') + this.tile!.border![0] ) : 'none',
                  'border-right': this.tile!.border![1]? ((this.tile!.border![1] != 'black' ? '8px solid ' :'solid ') + this.tile!.border![1]) : 'none',
                  'border-bottom': this.tile!.border![2]? ((this.tile!.border![2] != 'black' ? '8px solid ' :'solid ') + this.tile!.border![2]) : 'none',
                  'border-left': this.tile!.border![3]? ((this.tile!.border![3] != 'black' ? '8px solid ' :'solid ') + this.tile!.border![3]) : 'none'}"
      *ngIf="tile?.border && !tile?.isBeingDragged! == true"
      (contextmenu)="onRightClick($event)">
</div>
