<img *ngIf="tile?.image" [@rotatedState]='state' [src]="tile?.image" class="w-100" (contextmenu)="onRightClick()">

<div *ngIf="tile?.name!.includes('evacuationZoneAcross') && tile?.isBeingDragged == true" class="draggedTileAcross"></div>
<div *ngIf="tile?.name!.includes('evacuationZoneUpright') && tile?.isBeingDragged == true" class="draggedTileUpright"></div>

<div class="tile-size" *ngIf="tile?.border && !tile?.isBeingDragged! == true"
[ngClass]="{'ez-border-top': tile!.border![0] === 'black',
            'ez-border-end': tile!.border![1] === 'black',
            'ez-border-bottom': tile!.border![2] === 'black',
            'ez-border-start': tile!.border![3] === 'black'
          }">
</div>


