
<div class="d-flex justify-content-center p-3">
  <button class="btn button-link" (click)="createTile()">
    <i class="bi bi-plus-circle"></i> Kachel hinzufügen
  </button>
</div>

<div *ngIf="locationTiles.length > 0" class="d-flex flex-column">
  <h3 class="text-black">Lokale Kacheln</h3>
  <div class="d-flex flew-row flex-wrap justify-content-center">
    <div *ngFor="let tile of locationTiles" class="d-flex flex-column p-3 text-black border align-items-center" (click)="updateTile(tile)">
      <img [src]="tile.image" class="img-fluid" style="width: 100px;"/>
      <span class="text-center">{{tile.name}}</span>
    </div>
  </div>
</div>

<div class="d-flex flex-column">
  <h3 class="text-black">Globale Kacheln</h3>
  <div class="d-flex flew-row flex-wrap justify-content-center" >


    <div *ngFor="let tile of tiles" class="d-flex flex-column p-3 text-black border align-items-center tile-image" >

      <div *ngIf="!roles.includes('admin')" class="d-flex justify-content-center w-100 h-100 float-left">
        <img [src]="tile.image" class="img-fluid" style="width: 100px;"/>
      </div>
      <div *ngIf="roles.includes('admin')" (click)="updateTile(tile)" class="d-flex justify-content-center w-100 h-100 float-left">
        <img [src]="tile.image" class="img-fluid" style="width: 100px;"/>
      </div>

      <span class="text-center">{{tile.name}}</span>

    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #basicModal let-modal>
  <div class="modal-header base-bg">
    <h4 class="text-white">Kachel hinzufügen</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body bg-dark text-white text-center p-3 pt-0">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column p-3">
        <div class="row justify-content-between">
          <div class="col-8 d-flex flex-column align-items-start">
            <span>Name:</span>
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name"/>
          </div>
          <div class="col-3 d-flex flex-column align-items-start">
            <span>Punktzahl:</span>
            <input type="number" class="form-control" placeholder="Value" [(ngModel)]="value"/>
          </div>
        </div>

        <section class="d-flex flex-row pt-3" [formGroup]="disciplines">
          <div class="d-flex align-items-center">
            <span>Disziplin/en:</span>
          </div>
          <div class="d-flex flex-column align-items-start">
            <mat-checkbox [(ngModel)]="line" value="'Line Entry'" formControlName="line">Line</mat-checkbox>
            <mat-checkbox [(ngModel)]="lineEntry" value="'Line Entry" formControlName="lineEntry">Line Entry</mat-checkbox>
          </div>
        </section>



        <div class="input-group d-flex p-3 ps-0 pe-0 text-white">
          <input #fileChooser type="file" class="form-control dark-bg text-white" id="formFile" accept="image/*" (change)="onFileSelected($event); readUrl($event)" />
        </div>

        <div class="pt-1">
          <div class="row d-flex justify-content-center" *ngIf="tileImage">
            <div class=" col-6 d-flex flex-row">
              <div class="d-flex align-items-center">
                <span class="pe-1">Links</span>
              </div>
              <div class="d-flex flex-column">
                <span>Oben</span>
                <img [src]="tileImage" class="img-fluid" style="width: 100%;" style="min-width: 100px; min-height: 100px;"/>
                <span>Unten</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="ps-1">Rechts</span>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column align-items-center p-2">
          <div class="d-flex flex-column justify-content-center border-base border rounded p-3">
            <div class="row d-flex flex-row justify-content-center w-100">
              <div class="col-8 d-flex flex-column">
                <div  *ngFor="let path of paths">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column align-items-start p-1">
                      <label>From:</label>
                      <select [(ngModel)]="path.from">
                        <option *ngFor="let direction of directions; let count = index" [ngValue]="count">{{direction}}</option>
                      </select>
                    </div>
                    <div class="d-flex flex-column align-items-start p-1">
                      <label>To:</label>
                      <select [(ngModel)]="path.to">
                        <option *ngFor="let direction of directions; let count = index" [ngValue]="count">{{direction}}</option>
                      </select>
                    </div>
                    <div class="d-flex flex-column align-items-start p-1">
                      <label>Rampe:</label>
                      <select [(ngModel)]="path.layer">
                        <option  [ngValue]="0">-</option>
                        <option  [ngValue]="1">Hoch</option>
                        <option  [ngValue]="-1">Runter</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 d-flex flex-column justify-content-center align-items-end pt-3">
                <button type="button" class="btn btn-primary"(click)="addDeletePath(true)">
                  <i class="bi bi-plus-circle"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="addDeletePath(false)">
                  <i class="bi bi-dash-circle"></i>
                </button>
              </div>
            </div>
            <div *ngIf="!selectedTile" class="pt-3">
              <img src="../assets/tiles/Tile_description_line.png" class="img-fluid" style="width: 100%;"/>
            </div>

          </div>
        </div>
      </div>

      <div class="p-3">
        <button *ngIf="!selectedTile" class="btn btn-primary p-1" [class.disabled]="!toUpload || !name" (click)="modal.close()">
          Erstellen
        </button>

        <div *ngIf="selectedTile" class="d-flex flex-row justify-content-between">
          <button class="btn text-danger fs-5" (click)="modal.close('delete')">
            <i class="bi bi-trash3-fill"></i>
          </button>
          <button class="btn button-link p-1" [class.disabled]="!name" (click)="modal.close()">
            Update
          </button>
        </div>

      </div>
    </div>
  </div>

</ng-template>
