<div *ngIf="authenticated" class="row d-flex justify-content-center p-3">
  <div class="col-9">
    <h2>Home</h2>

    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 class="base-color p-2 m-0">Test-Entwürfe</h4>
          </mat-panel-title>
          <mat-panel-description>
            Qualifikationsturnier Kassel :
            {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-center p-2 pt-3 flex-row">
          <input
            [class.isInvalid]="!mapName"
            type="text"
            class="form-control"
            placeholder="Name"
            [(ngModel)]="mapName"
            (keydown.enter)="createMap()"
          />
          <button class="col-3 btn base-bg m-1" (click)="createMap()">
            <i class="bi bi-plus-circle"></i> <span class="ps-1">Karte erstellen</span>
          </button>
        </div>

        <div class="row d-flex align-items-center flex-row">
          <div *ngFor="let map of maps" class="col-4 p-2">
            <div class="card-color rounded">
              <img (click)="checkOutMap(map)"  class="w-100 p-2 cursor-pointer" [src]="map.image" alt="" />
              <div class="d-flex flex-column justify-content-center">
                <div (click)="checkOutMap(map)" class="d-flex justify-content-center p-2 text-white fs-5 fw-bold">
                  <span class="cursor-pointer">{{ map.name }}</span>
                </div>
                  <div class="d-flex justify-content-between">
                    <div class="p-1">
                      <button class="btn base-color fs-5" (click)="checkOutMap(map)">
                        <i class="bi bi-download"></i>
                      </button>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="text-white">Line/Maze</span>
                    </div>
                    <div class="p-1">
                      <button class="btn text-danger fs-5" (click)="deleteMap(map)">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div *ngIf="!authenticated" class="d-flex justify-content-center">
  <div class="card col-10 h-100" style="background-color: transparent; border: none;">
    <div  class="d-flex flex-column justify-content-center align-items-center mb-5">
      <img src="../assets/resources/RCJ_Logo.png" class="col-8 col-md-3 mt-5">
      <h1 class="m-0 fw-bold mb-4 mt-2">- MAPEDITOR -</h1>
      <div class="col-12 row-cols-1 align-items-center card card-shadow p-3">
        <span class="col text-center num-list p-3  text-white"><p
          class="display-3 fw-bold">Willkommen</p>beim MapEditor für den <span
          class="base-color fw-bold">RoboCup Junior</span> </span>
        <hr class="solid w-100">
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <div class="d-flex flex-column align-items-center m-3 w-100">
            <button type="button" *ngIf="!authenticated" routerLink=""
                    class="button-link col-12 col-xl-6 btn base-bg p-3 text-white fw-bold mb-3" (click)="login()">
              Anmelden
            </button>
            <div class="text-white d-flex flex-column align-items-center">
              <span>Neuer Benutzer?</span>
              <div>
                <a class="link-base-reverse" (click)="register()">Hier registrieren</a>
                <span class="ps-2 pe-2 text-white">|</span>
                <i class="bi bi-shop base-color"></i>
                <i class="bi bi-bank base-color ps-1"></i>
                <i class="bi bi-file-person-fill base-color ps-1"></i>
              </div>
            </div>
          </div>

          <hr class="solid w-100 d-block d-lg-none">

          <div class="col co-md-12 col-xl-4 d-flex flex-column p-3">

            <div class="d-flex flex-column align-items-center pb-3">
              <i class="bi bi-shop base-color fs-2"></i>
              <span class="text-white">Institution / Schule</span>
            </div>

            <div class="d-flex flex-column align-items-center pb-3">
              <i class="bi bi-bank base-color fs-2"></i>
              <span class="text-white">Qualifikationsturnierveranstalter</span>
            </div>

            <div class="d-flex flex-column align-items-center pb-3">
              <i class="bi bi-file-person-fill base-color fs-2"></i>
              <span class="text-white">Volunteers</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #basicModal let-modal>
  <div class="modal-header base-bg">
    <h4 class="modal-title text-white">{{header}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body bg-dark text-white" style="text-align: center;">
      <h1 class="p-3">Sind Sie sich sicher?</h1>
    <div>
      <button type="button" class="btn btn-danger" (click)="modal.close()">Löschen</button>
      <button type="button" class="btn" style="color: grey; padding-right: 15px;" (click)="modal.dismiss()">Abbrechen
      </button>
    </div>
  </div>
</ng-template>
