<div class="row d-flex justify-content-center p-3">
  <div class="col-9">
    <h2>Home</h2>

    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 class="base-color p-2 m-0">Test-Entwürfe</h4>
          </mat-panel-title>
          <mat-panel-description>
            Qualifikationsturnier Kassel :
            {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-center p-2 pt-3 flex-row">
          <input
            [class.isInvalid]="!mapName"
            type="text"
            class="form-control"
            placeholder="Name"
            [(ngModel)]="mapName"
            (keydown.enter)="createMap()"
          />
          <button class="col-3 btn base-bg m-1" (click)="createMap()">
            <i class="bi bi-plus-circle"></i> <span class="ps-1">Karte erstellen</span>
          </button>
        </div>

        <div class="row d-flex align-items-center flex-row">
          <div *ngFor="let map of maps" class="col-4 p-2">
            <div class="card-color rounded">
              <img (click)="checkOutMap(map)"  class="w-100 p-2 cursor-pointer" src="https://picsum.photos/200/200" alt="" />
              <div class="d-flex flex-column justify-content-center">
                <div (click)="checkOutMap(map)" class="d-flex justify-content-center p-2 text-white fs-5 fw-bold">
                  <span class="cursor-pointer">{{ map.name }}</span>
                </div>
                  <div class="d-flex justify-content-between">
                    <div class="p-1">
                      <button class="btn base-color fs-5" (click)="checkOutMap(map)">
                        <i class="bi bi-download"></i>
                      </button>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="text-white">Line/Maze</span>
                    </div>
                    <div class="p-1">
                      <button class="btn text-danger fs-5" (click)="deleteMap(map)">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<ng-template #basicModal let-modal>
  <div class="modal-header base-bg">
    <h4 class="modal-title text-white">{{header}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body bg-dark text-white" style="text-align: center;">
      <h1 class="p-3">Sind Sie sich sicher?</h1>
    <div>
      <button type="button" class="btn btn-danger" (click)="modal.close()">Löschen</button>
      <button type="button" class="btn" style="color: grey; padding-right: 15px;" (click)="modal.dismiss()">Abbrechen
      </button>
    </div>
  </div>
</ng-template>
