<div class="d-flex row m-0 justify-content-between" cdkDropListGroup>
  <div class="col-4" (mouseover)="isInTrash = true" (mouseleave)="isInTrash = false" style="overflow-y: auto" [ngStyle]=" {'height.px' : innerHeight }">
    <app-tile-selection
      [innerHeight]="innerHeight"
      [canvasValues]="canvasValues"
      [currentDraggedTile]="currentDraggedTile"
      [evacuationExists]="evacuationExists"
    ></app-tile-selection>
  </div>

  <div class="col-7 position-relative p-0 m-3">
    <app-grid-canvas
      [innerHeight]="innerHeight"
      (canvasValuesChange)="canvasValues = $event"
      (currentDraggedTileChange)="currentDraggedTile = $event"
      [(isInTrash)]="isInTrash"
      (evacuationExists)="evacuationExists = $event">

    </app-grid-canvas>
  </div>
</div>
