<h2 class="p-3 fw-bold">Kacheln</h2>
<div class="p-3 d-flex d-flex align-content-around flex-wrap"
     cdkDropList
     [cdkDropListData]="tiles"
     cdkDropListSortingDisabled
     [cdkDropListEnterPredicate]="falseEnter"
     #tileList
     (cdkDropListExited)="exited()"
     (cdkDropListEntered)="entered()">
  <app-tile
    [class.white]="tile.id"
    *ngFor="let tile of tiles"
    [tile]="tile"
    cdkDrag
    (cdkDragStarted)="draggedStart(tile)"
    (cdkDragEnded)="draggedEnd(tile)"
    [canvasValues]="canvasValues"
    [cdkDragConstrainPosition]="dragConstrainPoint"
  >
    <app-tile *cdkDragPreview [tile]="tile"
              [canvasValues]="canvasValues"
              [ngStyle]="{'width.px': 50 * canvasValues!.scale, 'height.px': 50 * canvasValues!.scale}"
              style="z-index: 2"
    ></app-tile>
    <div *cdkDragPlaceholder
              style="z-index: 2 !important; background-color: white; position: fixed !important; padding-top: 0 !important;"
              [ngStyle]="{'width.px': 100, 'height.px': 100}"
              style="z-index: 3"
    ></div>
  </app-tile>
</div>

<h3 class="ps-3">Opferraum</h3>
<div *ngIf="!evacuationExists" class="p-3" cdkDropList cdkDropListSortingDisabled
     [cdkDropListEnterPredicate]="falseEnter">
  <div class="evacuationZone" cdkDrag>
    <div class="evacuationZone"
         *cdkDragPreview
         style="width: 500px; background-color: lightgrey; border: 1px solid black"
         [ngStyle]="{'width.px': 400 * canvasValues!.scale, 'height.px': 300 * canvasValues!.scale}">
    </div>
  </div>
  <div class="evacuationZoneUpright" cdkDrag>
    <div class="evacuationZoneUpright"
         *cdkDragPreview style="width: 300px; background-color: lightgrey; border: 1px solid black; z-index: 10000;"
         [ngStyle]="{'width.px': 300 * canvasValues!.scale, 'height.px': 400 * canvasValues!.scale}">
    </div>
  </div>
</div>
<div *ngIf="evacuationExists">
  -Ist gesetzt-
</div>

<div class="p-3 d-flex d-flex align-content-around flex-wrap"
     cdkDropList
     cdkDropListSortingDisabled
     [cdkDropListData]="greenTiles">
  <div class="d-flex align-items-center flex-column">
    <app-tile [canvasValues]="canvasValues" [class.white]="tile.id" *ngFor="let tile of greenTiles" class="mb-2 me-2"
              [tile]="tile" cdkDrag>
            <div *cdkDragPlaceholder class="border-none"></div></app-tile>
  </div>
</div>

<h3 class="ps-3">Hindernisse</h3>
<div class="p-3 d-flex d-flex justify-content-around flex-wrap"
     cdkDropList
     cdkDropListSortingDisabled>
  <div
    *ngFor="let obstacle of obstacles"
    cdkDrag
    (cdkDragStarted)="draggedStartObstacle(obstacle)"
    (cdkDragEnded)="draggedEndObstacle(obstacle)"
    class="borderObstacle d-flex align-items-center justify-content-center"
  >
    <app-obstacle [obstacle]="obstacle"
                  [ngStyle]="{'width.px': obstacle.width, 'height.px': obstacle.height}"></app-obstacle>

    <app-obstacle *cdkDragPreview
                  [obstacle]="obstacle"
                  [canvasValues]="canvasValues"
                  [ngStyle]="{'width.px': obstacle.width! * canvasValues!.scale, 'height.px': obstacle.height! * canvasValues!.scale}"
    ></app-obstacle>
    <div *cdkDragPlaceholder class="border-none"></div>
  </div>
</div>

