
<div class="row d-flex justify-content-center m-0">
  <div class="col-9 pt-3">
    <h1>Volunteers für den Map-Editor</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="tableHover">

      <ng-container matColumnDef="firstname">
        <th style="min-width: 150px; margin-right: 10px;" mat-header-cell *matHeaderCellDef>Vorname</th>
        <td class="pe-3" mat-cell *matCellDef="let element" (click)="openChosenModal(element)">{{element.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th style="min-width: 150px; margin-right: 10px;" mat-header-cell *matHeaderCellDef>Nachname</th>
        <td class="pe-3" mat-cell *matCellDef="let element" (click)="openChosenModal(element)">{{element.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th style="min-width: 150px; margin-right: 10px;" mat-header-cell *matHeaderCellDef>Email</th>
        <td class="pe-3" mat-cell *matCellDef="let element" (click)="openChosenModal(element)">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="verified">
        <th class="text-center" style="min-width: 50px" mat-header-cell *matHeaderCellDef>Freigeschaltet</th>
        <td class="text-center" mat-cell *matCellDef="let element" (click)="openChosenModal(element)">
          <span *ngIf="element.realmRoles.includes('futureMapper')"><i
            class="bi bi-x-circle-fill text-danger"></i></span>
          <span *ngIf="element.realmRoles.includes('mapper')"><i class="bi bi-check-circle-fill text-success"></i></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="text-center p-0" style="width: 80px;" mat-header-cell *matHeaderCellDef>Aktion</th>
        <td class="p-0 d-flex flex-row justify-content-center" mat-cell *matCellDef="let element">
          <a class="btn btn-lg base-color p-2 white-color-hover" href="mailto:{{element.email}}">
            <i class="bi bi-envelope"></i></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

  <!--#################################################################################################################-->
  <ng-template #chooseModal let-modal>
    <div class="modal-header base-bg">
      <h4 class="modal-title text-white">Volunteer freischalten</h4>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body bg-dark text-white" style="text-align: center;">
      <div class="pt-4">
        Aktion für
        <h1 class="p-3">{{currentUserRepresentation!.firstName}} {{currentUserRepresentation!.lastName}}</h1>
      </div>
      <button type="button" class="btn" style="color: red; padding-right: 15px;" (click)="modal.dismiss()">
        Abbrechen
      </button>
      <button type="submit" class="btn base-bg text-white" (click)="modal.close('verify')"
              *ngIf="currentUserRepresentation!.realmRoles?.includes('futureMapper')">
        Freischalten
      </button>
      <button type="submit" class="btn base-bg text-white" (click)="modal.close()"
              *ngIf="currentUserRepresentation!.realmRoles?.includes('mapper')">
        Sperren
      </button>
    </div>
  </ng-template>
