app-tile {
  width: 100px;
  height:100px;
  background-color: grey;
  padding: 0;
  border: greenyellow solid 1px;
}

li {
  list-style-type: none;
}

.tile {
  width: 150px;
  height: 150px;
  background-color: grey;
}
.row {
  height: 100px;
}
