app-tile {
  width: 100px;
  height:100px;
  background-color: grey;
  padding: 0;
  border: greenyellow solid 1px;
}

li {
  list-style-type: none;
}


#canvas-wrapper {
  background: lightgrey;
  overflow: hidden;
  height: 700px;
}

