<div class="row m-0" cdkDropListGroup>
  <div class="col-4 border-end border-dark border-4">
    <h2 class="p-3 fw-bold">Kacheln</h2>
    <div class="p-3 d-flex d-flex align-content-around flex-wrap"
        cdkDropList
        [cdkDropListData]="tiles"
        cdkDropListSortingDisabled
        #tileList
        (cdkDropListExited)="exited($event)"
        (cdkDropListEntered)="entered()">
      <app-tile
        [class.white]="tile.id"
        *ngFor="let tile of tiles"
        class="mb-2 me-2" [tile]="tile"
        cdkDrag
        (cdkDragStarted)="draggedStart(tile)"
        (cdkDragEnded)="draggedEnd(tile)"
        >
        <app-tile *cdkDragPreview [tile]="tile"
                  [ngStyle]="{'width.px': 100 * zoomScale, 'height.px': 100 * zoomScale}"
        ></app-tile>
      </app-tile>
    </div>

    <div class="p-3" cdkDropList>
      <h3>Opferraum</h3>
      <div class="evacuationZone m-2" cdkDrag cdkDropListSortingDisabled>
        <div class="evacuationZone" *cdkDragPreview style="width: 500px; background-color: red;" [ngStyle]="{'width.px': 400 * zoomScale, 'height.px': 300 * zoomScale}">
        </div>
      </div>

      <div class="evacuationZoneUpright m-2" cdkDrag></div>
    </div>

    <!--
    <div class="p-3 d-flex d-flex align-content-around flex-wrap"
         cdkDropList
         [cdkDropListData]="tiles">
      <div class="d-flex align-items-center flex-column">
        <app-tile [class.white]="tile.id" *ngFor="let tile of greenTiles" class="mb-2 me-2" [tile]="tile" cdkDrag></app-tile>
      </div>
    </div>
    -->
  </div>
  <div id="canvas-wrapper" #canvas_wrapper class="col-8">
    <div #canvas>
      <div *ngFor="let level of grids; let levelCount = index" class="level">
        <div *ngFor="let row of level; let rowCount = index" class="row d-flex flex-nowrap">
          <app-tile [class.white]="tile.id"
                    *ngFor="let tile of row; let colCount = index"
                    [tile]="tile"
                    cdkDropList
                    (cdkDropListDropped)="drop($event, rowCount, colCount)"
                    cdkDrag
                    [cdkDragConstrainPosition]="dragConstrainPoint"
                    [cdkDragDisabled]="tile.id == '0'"
                    (cdkDragStarted)="dragStartMovement(tile, rowCount, colCount, levelCount)"
                    (cdkDragEnded)="dragEndMovement(tile, $event, rowCount, colCount, levelCount)">
          </app-tile>
        </div>
      </div>
    </div>
  </div>
</div>
