<div class="d-flex justify-content-center p-3">
  <button class="btn btn-info" (click)="createObstacle()">
    <i class="bi bi-plus-circle"></i> Hindernis hinzufügen
  </button>
</div>

<div class="d-flex flex-column">
  <h3 class="text-black">Lokale Obstacles</h3>
  <div *ngIf="localObstacles.length > 0"  class="d-flex flew-row flex-wrap justify-content-center">
    <div *ngFor="let obstacle of localObstacles" class="d-flex flex-column p-3 text-black border align-items-center">
      <img [src]="obstacle.image" class="img-fluid" style="width: 100px;"/>
      <span class="text-center">{{obstacle.name}}</span>
    </div>
  </div>

  <div class="text-center text-dark" *ngIf="localObstacles.length == 0">
    -- Keine lokalen Hindernisse angelegt. --
  </div>
</div>

<hr class="base-color w-100" />

<div class="d-flex flex-column">
  <h3 class="text-black">Globale Obstacles</h3>
  <div class="d-flex flew-row flex-wrap justify-content-center" >

    <div class="d-flex flex-row w-100 flex-wrap justify-content-center">
      <div *ngFor="let obstacle of globaleObstacles" class="d-flex flex-column p-3 text-black border align-items-center tile-image" >
        <div class="d-flex justify-content-end w-100 fw-bold base-color">
          <span>{{obstacle.value}}</span>
        </div>
        <div (click)="updateObstacle(obstacle)" class="d-flex justify-content-center w-100 h-100 float-left">
          <img [src]="obstacle.image" class="img-fluid" [ngStyle]="{'width.px': obstacle?.width, 'height.px': obstacle?.height}" />
        </div>
        <span class="text-center">{{obstacle.name}}</span>

      </div>
    </div>
    <div *ngIf="globaleObstacles.length <= 0">
      <span class="text-dark">-- Keine Hindernisse vorhanden --</span>
    </div>
  </div>
</div>

<!-- Modal -->

<ng-template #basicModal let-modal>
  <div class="modal-header base-bg">
    <h4 class="text-white m-0">{{modalHeader}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body bg-dark text-white text-center p-3 pt-0">
    <div class="row justify-content-between p-3">
      <div class="col-8 d-flex flex-column align-items-start">
        <div class="d-flex flex-row">
          <i class="bi bi-info-circle-fill info base-color pe-1" placement="bottom" [ngbTooltip]="'Der Name darf nicht -checkpoint- beinhalten '"></i>
          <span><p class="pe-1" style="display:inline; color:red"> *</p>Name:</span>
        </div>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name"/>
      </div>
      <div class="col-3 d-flex flex-column align-items-start">
        <span>Punktzahl:</span>
        <input type="number" class="form-control" placeholder="Value" [(ngModel)]="value"/>
      </div>
    </div>

    <div class="input-group d-flex p-3 text-white">
      <p class="pe-1" style="display:inline; color:red">*</p>
      <input #fileChooser type="file" class="form-control dark-bg text-white" id="formFile" accept="image/*" (change)="onFileSelected($event); readUrl($event)" />
    </div>

    <div class="d-flex justify-content-center w-100 h-auto p-3">
      <img src="../assets/tiles/Example_Line.png" class="w-100">


      <div class="position-absolute d-flex align-items-center justify-content-center w-100" style="height: 150px; max-width: 150px;">
        <img *ngIf="obstacleImage" [src]="obstacleImage" [ngStyle]="{'width.px': scale.x, 'height.px': scale.y}"  class="img-fluid " [class.transform]="!rotate" [class.clickBorder]="border"/>
      </div>
    </div>

    <div class="pb-3">
      <button id="obstacleSelection" class="col-4 button" style="border-bottom-right-radius: 0;border-top-right-radius: 0;"
                    (click)="border = !border;"
                    [class.checked]="border">
              <span>Rahmen</span>
      </button>
      <button id="obstacleSelection" class="col-4 button" style="border-bottom-right-radius: 0;border-top-right-radius: 0;"
                    (click)="rotate = !rotate;"
                    [class.checked]="rotate">
              <span>Drehen</span>
      </button>
    </div>

    <div class="d-flex flex-row justify-content-evenly">
      <input type="number" [(ngModel)]="scale.x" min="1" max="100">
      <input type="number" [(ngModel)]="scale.y" min="1" max="100">
    </div>

    <div class="p-3">
      <button *ngIf="!selectedObstacle" class="btn btn-primary p-1" [class.disabled]="!toUpload || !name || name.includes('checkpoint')" (click)="checkObstacle(modal)">
        Erstellen
      </button>

      <div *ngIf="selectedObstacle" class="d-flex flex-row justify-content-between">
        <button class="btn text-danger fs-5" (click)="deleteObstacle(selectedObstacle)">
          <i class="bi bi-trash3-fill"></i>
        </button>
        <button class="btn button-link p-1" [class.disabled]="!name || name.includes('checkpoint')" (click)="checkObstacle(modal)">
          Update
        </button>
      </div>
    </div>
  </div>
</ng-template>
