<div></div>
<div *ngFor="let row of grid; let rowCount = index" class="row d-flex flex-nowrap">
  <app-tile *ngFor="let tile of row; let colCount = index"
            [class.white]="tile.id"
            [tile]="tile">
  </app-tile>
</div>

<app-obstacle *ngFor="let obstacle of obstacles"
              style="position:absolute"
              [obstacle]="obstacle"
              [ngStyle]="{'top.px': obstacle.y, 'left.px': obstacle.x, 'width.px': obstacle.width, 'height.px': obstacle.height }"
>
</app-obstacle>
