<div class="row d-flex justify-content-center p-3">
  <div class="col-9">
    <h3>Einstellungen</h3>

    <mat-accordion>
      <mat-expansion-panel class="mb-2" style="border-radius: 4px !important;" [expanded]="panelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title class="base-color p-2 m-0 fs-6">
            Individuelle Kachel hinzufügen
          </mat-panel-title>
          <mat-panel-description>
            Hier können neue Kacheln hinzugefügt werden.
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-create-tile></app-create-tile>
      </mat-expansion-panel>

      <mat-expansion-panel class="mb-2" style="border-radius: 4px !important;">
        <mat-expansion-panel-header>
          <mat-panel-title class="base-color p-2 m-0 fs-6">
            Individuelles Hindernis hinzufügen
          </mat-panel-title>
          <mat-panel-description>
            Hier können neue Hindernisse hinzugefügt werden.
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-create-obstacle></app-create-obstacle>
      </mat-expansion-panel>

      <mat-expansion-panel class="mb-2" style="border-radius: 4px !important;">
        <mat-expansion-panel-header>
          <mat-panel-title class="base-color p-2 m-0 fs-6">
            Kachel Begrenzungen
          </mat-panel-title>
          <mat-panel-description>
            Hier wird bestimmt wie viele Kacheln in einer Karte genutzt werden können.
          </mat-panel-description>
        </mat-expansion-panel-header >

          <hr class="base-color w-100" />
          <div class="text-dark p-3">-- comming soon --</div>
          <hr class="base-color w-100" />

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
