<div class="pb-1 d-flex w-100 justify-content-between">
  <div class="d-flex flex-row">
    <div class="text-dark">{{map?.discipline}} |</div>
    <div class="base-color fw-bold ps-1"> {{map?.name}}</div>
  </div>
  <div>
    <button class="me-1" (click)="buttonLayerChange(false)">Ebene tiefer</button>
    <button (click)="buttonLayerChange(true)">Ebene höher</button>
  </div>
</div>
<div id="canvas-wrapper" #canvas_wrapper [ngStyle]=" {'height.px' : innerHeight }">
  <div #canvas>
    <div *ngFor="let layerOfGrids of grids; let layerCount = index" class="layer">
      <div *ngIf="layerCount == layer">
        <div *ngFor="let row of layerOfGrids; let rowCount = index" class="row d-flex flex-nowrap">
          <app-tile *ngFor="let tile of row; let colCount = index"
                    cdkDropList
                    cdkDrag
                    cdkDropListSortingDisabled

                    [class.white]="tile.id"
                    [canvasValues]="canvasValues"
                    [evacuationZone]="evacuation"
                    [position]="{x: colCount, y: rowCount, layer: layerCount}"
                    [cdkDragConstrainPosition]="dragConstrainPoint"
                    [tile]="tile"
                    [cdkDragDisabled]="tile.id == '0' || tile.isPlaceholder"
                    [isCurrentlyDraggedTile]="currentDraggedTile === tile"
                    [currentDiscipline]="map?.discipline || ''"

                    (contextmenu)="$event.preventDefault();"
                    (evacuationZoneChange)="evacuationZoneGridCanvas.evacuationZoneChange($event)"
                    (tileChange)="tileChange(tile, layerCount, rowCount, colCount)"
                    (cdkDropListDropped)="drop($event, layerCount, rowCount, colCount)"
                    (cdkDragStarted)="dragStartMovement(tile)"
                    (cdkDragEnded)="dragEndMovement(tile, $event,layerCount, rowCount, colCount )"
                    [cdkDropListDisabled]="true"
          >
          </app-tile>
        </div>
      </div>
    </div>
      <app-obstacle *ngFor="let obstacle of obstacles"
          style="position:absolute"
          cdkDrag
          (cdkDragStarted)="moveObsStart(obstacle)"
          (cdkDragEnded)="moveObstacleEnd(obstacle, $event)"
          [cdkDragConstrainPosition]="dragConstrainPoint"
          [obstacle]="obstacle"
          (contextmenu)="false"
          [ngStyle]="{'top.px': obstacle.y, 'left.px': obstacle.x, 'width.px': obstacle.width, 'height.px': obstacle.height, 'display': + obstacle.layer == layer ? 'block' : 'none'}"
      >
      </app-obstacle>
  </div>
</div>


<div *ngIf="currentDraggedTile || currentObstacle" (mouseover)="isInTrash = true" (mouseleave)="isInTrash = false"
     class="position-absolute p-2" style="bottom: 50%;">
  <div class="rounded border border-3 p-2 base-bg">
    <i class="bi bi-trash-fill"></i>
  </div>
</div>

<div class="spinner-border" [ngStyle]="{'top': innerHeight/2-50+'px'}" *ngIf="loading">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="position-absolute p-2" style="bottom: 0px; background-color: rgba(177, 103, 12, 0.252);">
  Gesamtpunktzahl: {{totalPoints}}
</div>

<div class="position-absolute" style="right: 0px">
  <div class="p-3 base-color fs-5">
    Ebene: {{layer}}
  </div>
</div>

<div *ngIf="map != undefined && map!.discipline.toLowerCase() == 'line entry'" class="position-absolute" style="left: calc( 50% - 62px)">
  <app-toogle [(isLeftSelected)]="map!.isLeftDirection!" (isLeftSelectedChange)="serviceGridCanvas.calcTotalPoints()">
  </app-toogle>
</div>


<div class="position-absolute float-left d-flex align-items-center justify-content-start">
  <div class="p-3 base-color " mat-button [matMenuTriggerFor]="afterMenu">
    <i class="bi bi-info-circle-fill info" ></i>
  </div>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <div class="p-2 d-flex flex-column"><span>Kachel verschieben</span><span class="base-color">'Linke Maustaste' auf Kachel halten</span>
    </div>
    <div class="p-2 d-flex flex-column"><span>Raster verschieben</span><span class="base-color">'Linke Maustaste' oder 'Mausrad drücken'</span>
    </div>
    <div class="p-2 d-flex flex-column"><span>Im Raster zoomen</span><span class="base-color">'Mausrad drehen'</span>
    </div>
    <div class="p-2 d-flex flex-column"><span>Kachel drehen</span><span class="base-color">'Rechtsklick' auf Kachel / Doppel-Tippen</span>
    </div>
    <div class="p-2 d-flex flex-column"><span>Kachel im Raster kopieren</span><span class="base-color">'STRG' beim absetzen halten</span>
    </div>
    <div class="p-2 d-flex flex-column"><span>Kachel löschen</span><span class="base-color">Kachel halten und in den Papierkorb schieben</span>
    </div>
  </mat-menu>
</div>

<!-- Modal -->

<ng-template #basicModal let-modal>
  <div class="modal-header base-bg">
    <h4 class="text-white">Kacheln nicht gefunden</h4>
  </div>
  <div class="modal-body bg-dark text-white text-center p-3 pt-0">
    <div class="pt-3">
      <p>Es wurden Kacheln gefunden die nicht mehr existieren oder gelöscht wurden. Diese Kacheln werden aus der Karte entfernt.</p>
      <button type="button" class="btn button-link" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
</ng-template>
